# Excluded from `git archive` release/source packages (see sibling BidscubeSDKAppLovinTestApp for QA).
testApp export-ignore
testApp-ios export-ignore
testApp-iosUITests export-ignore
testApp-Info.plist export-ignore
legacyIntegration export-ignore
build export-ignore
bidscubeSdk.xcodeproj/xcshareddata/xcschemes/testApp-ios.xcscheme export-ignore
